<div id="<%= dom_id cliente %>">
  <p>
    <strong>Numero telefonico:</strong>
    <%= cliente.numero_telefonico %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= cliente.nombre %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= cliente.email %>
  </p>

</div>
